body {
  font-family: Arial, sans-serif;
  margin: auto;
  background-color: #f4f4f4;
}

#app {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
