body {
  background-color: #f5f5f5;
  margin: 0;
}

section {
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}

#logout-button, #dashboard-button {
  background-color: #c62828;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

#logout-button:hover, #dashboard-button:hover {
  background-color: #b71c1c;
}

h2 {
  text-align: center;
  color: #333;
}

#wbs-form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 20px auto;
}

#wbs-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

#wbs-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: auto;
}